#pins.transitions-enabled
  - @pins.each do |pin|
    .box.panel.panel-default
      = link_to image_tag(pin.image.url(:medium)), pin
      .panel-body
        %h2= link_to pin.title, pin
        = link_to like_pin_path(pin), method: :put, class: 'btn btn-default btn-xs like-btn' do
          %span.glyphicon.glyphicon-heart
          = pin.get_upvotes.size
        %p.user
          %span.glyphicon.glyphicon-user
          = pin.user.email
